<!-- html code start -->
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>EJAM3IA</title>
</head>
     <body>
        <h1> الجمعية <svg style="margin-left: 5px;margin-top:1vh" height="18" viewBox="-60 -40 120 80" width="27"><g fill="#e70013"><path d="m-60-40h120v80h-120z"></path><circle fill="#fff" r="20"></circle><path d="m600 250a150 150 0 0 0 -150 150 150 150 0 0 0  150 150 150 150 0 0 0  121.02344-61.64844 120 120 0 0 1 -81.02344 31.64844 120 120 0 0 1 -120-120 120 120 0 0 1  120-120 120 120 0 0 1  81.01367 31.67383 150 150 0 0 0 -121.01367-61.67383z" fill="#e70013" stroke-width="10" transform="matrix(.1 0 0 .1 -60 -40)"></path><path d="m0-1 .58779 1.80902-1.53885-1.11804h1.90212l-1.53885 1.11804z" fill="#e70013" transform="matrix(0 -9 9 0 4 0)"></path></g></svg></h1>
     </body>
     <center>
         <h2>اختار جمعيتك</h2>
        <center>
             <div class="line_section">
                devision 1
             </div>
        </center>
        <section class="equipes">
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div> 
        </section>
        <center>
             <div class="line_section">
                devision 2
             </div>
        </center>
        <section class="equipes">
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div> 
        </section>
        <center>
             <div class="line_section">
                devision 3
             </div>
        </center>
        <section class="equipes">
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div> 
        </section>
        <center>
             <div class="line_section">
                devision 4
             </div>
        </center>
        <section class="equipes">
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div> 
        </section>
        <center>
             <div class="line_section">
                devision 5
             </div>
        </center>
        <section class="equipes">
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/AS_Marsa.png" alt="AS marsa"></div>
                <p>  المرسى|| AS Marsa  </p>
             </div>
             <div class="equipe">
                 <div ><img id="as_marsa_img" src="media/imgs/EST.png" alt="taraji"></div>
                 <p>الترجي|| EST  </p>
             </div> 
        </section>


     </center>
</html>

<!-- html code stop -->



