<!DOCTYPE html>
<html lang="ar" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJAM3IA_الجمعية</title>
    <link rel="stylesheet" href="styles/intro.css">
</head>
<body dir="rtl">
    <section class="nav">
        <h1> الجمعية <svg style="margin-left: 5px;margin-top:1vh" height="18" viewBox="-60 -40 120 80" width="27"><g fill="#e70013"><path d="m-60-40h120v80h-120z"></path><circle fill="#fff" r="20"></circle><path d="m600 250a150 150 0 0 0 -150 150 150 150 0 0 0  150 150 150 150 0 0 0  121.02344-61.64844 120 120 0 0 1 -81.02344 31.64844 120 120 0 0 1 -120-120 120 120 0 0 1  120-120 120 120 0 0 1  81.01367 31.67383 150 150 0 0 0 -121.01367-61.67383z" fill="#e70013" stroke-width="10" transform="matrix(.1 0 0 .1 -60 -40)"></path><path d="m0-1 .58779 1.80902-1.53885-1.11804h1.90212l-1.53885 1.11804z" fill="#e70013" transform="matrix(0 -9 9 0 4 0)"></path></g></svg></h1>
     <div class="searchbox" id="search_box_show_hide"><svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000" class="bi bi-search" viewBox="0 0 16 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/> </svg></div>
     <section class="grid">
     <div>   
     <div class="slide_1" style="display: none;">
     <CENter>
     <h2> EJAM3IA </h2>
     <p>
        <!-- ABOUT EJAM3IA in english -->
     
        

     </p>
     <a class="butt"> GHNEE EJAM3IA</a>
     </CENter>
     </div>
     <div class="slide_2">
    <h2> الجمعية  </h2>
    <CEnter>
     <p>
         <!-- ABOUT EJAM3IA in ARABIC -->

         Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, iusto laudantium! Ab nostrum fugiat earum, sequi quasi magni amet voluptatibus voluptates consequuntur quos, architecto esse repellat! Adipisci ut ullam beatae.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, iusto laudantium! Ab nostrum fugiat earum, sequi quasi magni amet voluptatibus voluptates consequuntur quos, architecto esse repellat! Adipisci ut ullam beatae.
 
     </p>
     <a class="butt" href="/tn"> بدء الاستماع </a>
     </CEnter>
     </div>
     </div>
     <div>

     </div>
    </section>
    </section>
</body>
<!-- <p style="height: 50px ;z-index:1000 ;padding:10px; display:flex ;justify-content:center ; width:auto ; border-radius:5px; background-color:white ; color:blue  ; position:absolute ;top : 50vh ;left :50% ; transform:translate(-50%, -50%)"> Under building and development by rayen ben brahim</p> -->
</html>