<!DOCTYPE html>
<html lang="ar" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJAM3IA_الجمعية</title>
    <link rel="stylesheet" href="styles/intro.css">
</head>
<body dir="rtl">
    <section class="nav">
        <h1> الجمعية <svg style="margin-left: 5px;margin-top:1vh" height="18" viewBox="-60 -40 120 80" width="27"><g fill="#e70013"><path d="m-60-40h120v80h-120z"></path><circle fill="#fff" r="20"></circle><path d="m600 250a150 150 0 0 0 -150 150 150 150 0 0 0  150 150 150 150 0 0 0  121.02344-61.64844 120 120 0 0 1 -81.02344 31.64844 120 120 0 0 1 -120-120 120 120 0 0 1  120-120 120 120 0 0 1  81.01367 31.67383 150 150 0 0 0 -121.01367-61.67383z" fill="#e70013" stroke-width="10" transform="matrix(.1 0 0 .1 -60 -40)"></path><path d="m0-1 .58779 1.80902-1.53885-1.11804h1.90212l-1.53885 1.11804z" fill="#e70013" transform="matrix(0 -9 9 0 4 0)"></path></g></svg></h1>
    </section>
     <section class="grid">
     <div>   
     <div class="slide_1" style="display: none;">
     <CENter>
     </CENter>
     </div>
     <div class="slide_2">
    <h2> الجمعية : </h2>
    <CEnter>
         <p>
         <!-- ABOUT EJAM3IA in ARABIC -->

          تطبيق واب_Web<br>تونسي يمكنك من<br> خلاله الاستماع<br> الى افضل اغاني <br>جمعيتك مع مزايا رائعة <br>وواجهة مستخدم <br>سهلة و بسيطة<br>
 
        </p>
        <a class="butt" href="/main_tn"> بدء الاستماع </a>
    </CEnter>
    </div>
    </div>
     <div class="image_swiper">
        <div>
         <div class="right pointer"><svg fill="#ffffff65" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM241 377c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l87-87-87-87c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L345 239c9.4 9.4 9.4 24.6 0 33.9L241 377z"/></svg></div>
         <div></div>
         <div class="left pointer"><svg fill="#ffffff65" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM241 377c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l87-87-87-87c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L345 239c9.4 9.4 9.4 24.6 0 33.9L241 377z"/></svg></div>
        </div>
        <div class="img_child"></div>
        <div class="img_child"></div>
        <div class="img_child"></div>
    </div>
</div>
</section>
</body>
<!-- <div style="position: absolute;top:78vh;left:40vw;z-index: -1;"><svg height="2em" fill="#ffffff45" viewBox="0 0 512 512">! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.<path d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM241 377c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l87-87-87-87c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L345 239c9.4 9.4 9.4 24.6 0 33.9L241 377z"/></svg></div> -->
<!-- <div style="position: absolute;top:50vh;left:75vw;z-index: -1;"><svg height="2em" fill="#ffffff45" viewBox="0 0 512 512">! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.<path d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM241 377c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l87-87-87-87c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L345 239c9.4 9.4 9.4 24.6 0 33.9L241 377z"/></svg></div> -->
<!-- <div style="position: absolute;top:14vh;left:57vw;z-index: -1;"><svg height="2em" fill="#ffffff45" viewBox="0 0 512 512">! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.<path d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM241 377c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l87-87-87-87c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L345 239c9.4 9.4 9.4 24.6 0 33.9L241 377z"/></svg></div> -->
<!-- <div style="position: absolute;top:33vh;left:23vw;z-index: -1;"><svg height="2em" fill="#ffffff45" viewBox="0 0 512 512"><path d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM241 377c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l87-87-87-87c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L345 239c9.4 9.4 9.4 24.6 0 33.9L241 377z"/></svg></div> -->
<!-- <p style="height: 50px ;z-index:1000 ;padding:10px; display:flex ;justify-content:center ; width:auto ; border-radius:5px; background-color:white ; color:blue  ; position:absolute ;top : 50vh ;left :50% ; transform:translate(-50%, -50%)"> Under building and development by rayen ben brahim</p> -->
</html>