<!-- html code start -->
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="sheet" rel="stylesheet" href="styles/style.css">
    <title>EJAM3IA</title>
</head>
     <body>
         <section class="nav">
            <h1> الجمعية <svg style="margin-left: 5px;margin-top:1vh" height="18" viewBox="-60 -40 120 80" width="27"><g fill="#e70013"><path d="m-60-40h120v80h-120z"></path><circle fill="#fff" r="20"></circle><path d="m600 250a150 150 0 0 0 -150 150 150 150 0 0 0  150 150 150 150 0 0 0  121.02344-61.64844 120 120 0 0 1 -81.02344 31.64844 120 120 0 0 1 -120-120 120 120 0 0 1  120-120 120 120 0 0 1  81.01367 31.67383 150 150 0 0 0 -121.01367-61.67383z" fill="#e70013" stroke-width="10" transform="matrix(.1 0 0 .1 -60 -40)"></path><path d="m0-1 .58779 1.80902-1.53885-1.11804h1.90212l-1.53885 1.11804z" fill="#e70013" transform="matrix(0 -9 9 0 4 0)"></path></g></svg></h1>
         <a class="searchbox" id="search_box_show_hide"><svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000" class="bi bi-search" viewBox="0 0 16 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/> </svg></a>
        </section>
        <center><div name="sch" class="search_bar" id="search_bar"><form action="/search" method="get"> <input type="text" name="Search_query" required placeholder="ابحث هنا على الجمعية..."> <button type="submit" id="submit">بحث</button></form> </div></center>
        <center>
        
         <h2>اختار جمعيتك</h2>
        <center>
             <div class="line_section">
                devision 1
             </div>
        </center>
        <section class="equipes">
             <a href="/tn/as_marsa/music_play" class="equipe">
                 <div ><img src="media/imgs/as_marsa.png" alt="AS marsa" ></div>
                <p>  المرسى || A.S.M  </p>
             </a>
             <a href="/tn/taraji/music_play" class="equipe">
                 <div ><img src="media/imgs/taraji.png" alt="taraji" ></div>
                 <p>الترجي || E.S.T  </p>
             </a>
             <a href="/tn/bizertin/music_play" class="equipe">
                 <div ><img src="media/imgs/bizertin.png" alt="bizertin" ></div>
                <p>  C.A.B  </p>
             </a>
             <a href="/tn/as_marsa/music_play" class="equipe">
                 <div ><img src="media/imgs/as_marsa.png" alt="AS marsa" ></div>
                <p>  المرسى || A.S.M  </p>
             </a>
             <a href="/tn/taraji/music_play" class="equipe">
                 <div ><img src="media/imgs/taraji.png" alt="taraji" ></div>
                 <p>الترجي || E.S.T  </p>
             </a>
             <a href="/tn/bizertin/music_play" class="equipe">
                 <div ><img src="media/imgs/bizertin.png" alt="bizertin" ></div>
                <p>  C.A.B  </p>
             </a>
             <a href="/tn/as_marsa/music_play" class="equipe">
                 <div ><img src="media/imgs/as_marsa.png" alt="AS marsa" ></div>
                <p>  المرسى || A.S.M  </p>
             </a>
             <a href="/tn/taraji/music_play" class="equipe">
                 <div ><img src="media/imgs/taraji.png" alt="taraji" ></div>
                 <p>الترجي || E.S.T  </p>
             </a>
             <a href="/tn/bizertin/music_play" class="equipe">
                 <div ><img src="media/imgs/bizertin.png" alt="bizertin" ></div>
                <p>  C.A.B  </p>
             </a>
             <a href="/tn/as_marsa/music_play" class="equipe">
                 <div ><img src="media/imgs/as_marsa.png" alt="AS marsa" ></div>
                <p>  المرسى || A.S.M  </p>
             </a>
             <a href="/tn/taraji/music_play" class="equipe">
                 <div ><img src="media/imgs/taraji.png" alt="taraji" ></div>
                 <p>الترجي || E.S.T  </p>
             </a>
             <a href="/tn/bizertin/music_play" class="equipe">
                 <div ><img src="media/imgs/bizertin.png" alt="bizertin" ></div>
                <p>  C.A.B  </p>
             </a>
             <a href="/tn/as_marsa/music_play" class="equipe">
                 <div ><img src="media/imgs/as_marsa.png" alt="AS marsa" ></div>
                <p>  المرسى || A.S.M  </p>
             </a>
             <a href="/tn/taraji/music_play" class="equipe">
                 <div ><img src="media/imgs/taraji.png" alt="taraji" ></div>
                 <p>الترجي || E.S.T  </p>
             </a>
             <a href="/tn/bizertin/music_play" class="equipe">
                 <div ><img src="media/imgs/bizertin.png" alt="bizertin" ></div>
                <p>  C.A.B  </p>
             </a>
            </section>
        <center>
             <div class="line_section">
                devision 2
             </div>
        </center>
        <section class="equipes">
        </section>
        <center>
             <div class="line_section">
                devision 3
             </div>
        </center>
        <section class="equipes">
 
       </section>
        <center>
             <div class="line_section">
                devision 4
             </div>
            </center>
            <section class="equipes">
        <center>
             <div class="line_section">
                devision 5
             </div>
        </center>
        <section class="equipes">
        </section>
     </center>
    </body>
<link rel="stylesheet" href="styles/theme_changer.css">
<div class="theme_changer" id="T_CH"><svg class="icon icon-tabler icon-tabler-brightness-up" width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="#fff" fill="#000" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"/> <circle cx="12" cy="12" r="3" /> <line x1="12" y1="5" x2="12" y2="3" /> <line x1="17" y1="7" x2="18.4" y2="5.6" /> <line x1="19" y1="12" x2="21" y2="12" /> <line x1="17" y1="17" x2="18.4" y2="18.4" /> <line x1="12" y1="19" x2="12" y2="21" /> <line x1="7" y1="17" x2="5.6" y2="18.4" /> <line x1="6" y1="12" x2="4" y2="12" /> <line x1="7" y1="7" x2="5.6" y2="5.6" /> </svg></div>
<script src="scripts/script.js"></script>
<script src="scripts/themechanger.js"></script>
<!-- <p style="height: 50px ;z-index:1000 ;padding:10px; display:flex ;justify-content:center ; width:auto ; border-radius:5px; background-color:white ; color:blue  ; position:absolute ;top : 50vh ;left :50% ; transform:translate(-50%, -50%)"> Under building and development by rayen ben brahim</p> -->
</html>

<!-- html code stop -->



