<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/playbox.css">
    <link rel="stylesheet" href="/styles/theme_changer.css">
    <title>Ejam3ia || <%= locals.name %> || music play </title>
</head>
<body>
    <section class="body_content" dir="rtl">
        <header>
        <div class="top_body"  dir="rtl">
        <h1> الجمعية <svg style="margin-left: 5px;margin-top:1vh" height="18" viewBox="-60 -40 120 80" width="27"><g fill="#e70013"><path d="m-60-40h120v80h-120z"></path><circle fill="#fff" r="20"></circle><path d="m600 250a150 150 0 0 0 -150 150 150 150 0 0 0  150 150 150 150 0 0 0  121.02344-61.64844 120 120 0 0 1 -81.02344 31.64844 120 120 0 0 1 -120-120 120 120 0 0 1  120-120 120 120 0 0 1  81.01367 31.67383 150 150 0 0 0 -121.01367-61.67383z" fill="#e70013" stroke-width="10" transform="matrix(.1 0 0 .1 -60 -40)"></path><path d="m0-1 .58779 1.80902-1.53885-1.11804h1.90212l-1.53885 1.11804z" fill="#e70013" transform="matrix(0 -9 9 0 4 0)"></path></g></svg></h1>
        </div>
        <div  class="top_body "  dir="ltr">
            <img class="team_choosed" src="/media/imgs/<%= locals.key %>" alt="No image">
            <p><%= locals.name %></p>
        </div>
        </header>
    </section>
    <section class="main_content">
        
    </section>
    <button id="lis" style="position: absolute; top:50vh ; left:50vw ;transform:translate(-50%,-50%)">click me</button>
    <section class="side_bar">
    </section>
    <section class="lowest_bar" id="lowest">
       <div class="theme_changer music_theme" id="T_CH"><svg class="icon icon-tabler icon-tabler-brightness-up" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="#fff" fill="#000" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"/> <circle cx="12" cy="12" r="3" /> <line x1="12" y1="5" x2="12" y2="3" /> <line x1="17" y1="7" x2="18.4" y2="5.6" /> <line x1="19" y1="12" x2="21" y2="12" /> <line x1="17" y1="17" x2="18.4" y2="18.4" /> <line x1="12" y1="19" x2="12" y2="21" /> <line x1="7" y1="17" x2="5.6" y2="18.4" /> <line x1="6" y1="12" x2="4" y2="12" /> <line x1="7" y1="7" x2="5.6" y2="5.6" /> </svg></div>
       <div class="progress"> <p>00:00:00</p><progress role="timer" value="0.1"></progress><p>00:00:00</p> </div>
       <div class="options"> <p class="song_name" > </p> <div class="controller"> <div class="last"></div> <div class="start_stop"></div> <div class="next"></div> </div></div>
    </section>
</body>
<script>
    var v = 0 ;
    document.getElementById('lis').addEventListener('click',()=>{
         if(v == 0 ){
         document.getElementById('lowest').style.cssText = "transform:translateY(0vh);"
         v = 1 ;
        }else{
          document.getElementById('lowest').style.cssText = "transform:translateY(14vh);"
         v = 0 ;
         }
    })
</script>
<script src="/scripts/themechanger.js"></script>
<!-- <p style="height: 50px ;z-index:1000 ;padding:10px; display:flex ;justify-content:center ; width:auto ; border-radius:5px; background-color:white ; color:blue  ; position:absolute ;top : 50vh ;left :50% ; transform:translate(-50%, -50%)"> Under building and development by rayen ben brahim</p> -->
</html>