:root {
    --color_I : rgb(0, 0, 0) ; 
    --color_II : white  ; 
    --bgColor_I : white ;
    --bgColor_II :  rgb(0, 2, 16) ;
    --color_III : white ;
}
html {
    background-color: var(--bgColor_I);
}
body{
    margin: 0;
}
* {
    color: var(--color_I);
    font-family: sans-serif;
}
button,h1,h2,h3,h4,h5,h6,a,img{
    -webkit-user-select: none;
}
.body_content {
    z-index: 0;
    position: absolute;
    top: 0;
    right:0;
    width:calc( 100vw - 8vh );
}
.body_content header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid white;
}
.top_body{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top_body p{
    font-weight:600;
    letter-spacing: 0.7px;
    font-size: 14px;
}
h1{
    padding-right: 20PX;
    font-weight: 600;
    cursor: pointer;
    font-family: sans-serif;
    position: absolute;
}
.team_choosed{
    height: 7vh;
    width: 7vh;
    object-fit: cover;
    margin: 5px;
    margin-left: 10px;
}
.side_bar{
width: 8vh;
height: 88vh;
position: fixed;
background-color: rgb(231, 231, 231);
border-right: 1px solid rgb(131, 131, 131);
z-index: 2;
}
.lowest_bar{
    bottom: 0;
    width: 100vw;
    height: 14vh;
    position: fixed;
    background-color: whitesmoke;
    background: linear-gradient(15deg,rgb(219, 219, 219),rgb(206, 206, 206) );
    border-top: 1px solid black;
    z-index: 3;
}
.lowest_bar .progress{
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}
.lowest_bar .progress progress{
width: 90vw;
}
.lowest_bar .progress p {
    color: black;
    margin: 8px;
}
.controller{
    position: absolute;
    top: 8.5vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.last , .next {
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}
.start_stop{
height: 8vh;
width: 8vh;
border-radius: 50%;
background-color: black;
}
.start_stop:hover,.next:hover,.last:hover{
    scale: 1.1;
}