html {
    background-color: rgb(0, 3, 25);
}
* {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}
button,h1,h2,h3,h4,h5,h6,a,img{
    -webkit-user-select: none;
}
h1 svg{
    cursor: pointer;
}
.nav{
    
}
h1{
    margin-top: 0;
    padding-right: 20PX;
    padding-bottom: 15px;
    border-bottom: 1PX solid white;
    cursor: pointer;
}
.searchbox{
    position: absolute;
    left:25px;
    top: 10px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white ;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    border: 2px solid white;
    transition: scale 0.5s;
}
.searchbox:hover{
    scale: 1.1;
}
.search_bar{
display: none;
height: 0;
overflow: hidden;
transition: height 0.5s;
}
.search_bar button{
    height: 6vh;
    width: 15vh;
    left: 4%;
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: teal;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
    transition: height 0.5s;
    border-radius: 5px;
}
.search_bar input{
    height: 5vh;
    width: 90vw;
    font-size: large;
    color: black;
}
h2{
    margin-top:5vh;
}
.line_section{
    border-top: 1px solid white ;
    /* border-bottom: 1px solid white ; */
    width: 50vw;
    font-size: large;
    padding: 10px;
    margin: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.equipes{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.equipe{
    height: 170px;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius:5px ;
    margin: 7px;
    border: 1PX SOLID white;
    transition: scale 0.5s;
    cursor: pointer;
}
.equipe:hover{
    scale: 1.07;
}
.equipe p{
margin: auto;
margin-top: 125px;
color: black;
font-weight: bold;
text-transform: uppercase;
}

.equipe::before{
    content: "";
    position: absolute;
    transform: translateX(50%);
    height: 70px;
    width: 150px;
    background-color: black;
    border-top-left-radius:5px;
    border-top-right-radius:5px ;
}
.equipe .div{
   
}
.equipe div img{
    position: absolute;
    transform: translate(50px,20px);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index: 10;
    object-fit: cover;
}
#not_found{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}
